.root{
    width: 85%;
    display: flex;
    justify-content: space-between;
    input{
        width: 45%;    
        height: 7vh;
        padding: 1rem .5rem;
        border: none;
        font-size: 125%;
        &:hover{
            border: none;
        }
        &:checked{
            border: none;
        }
    }
}
@media screen and (max-width: 820px) {
    .root{
        input{
            height: 5vh;
            font-size: 100%;
        }
    }
}
@media screen and (max-width: 450px) {
    .root{
        input{
            height: 3vh;
            font-size: 80%;
            width: 42%;
        }
    }
}