.root{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    .container{
        width: 75%;
        margin: 3rem 0;
        padding: 1rem 0;
        background-color: #f5f5f5;
        border-radius: 1rem;
        background-color: rgba(0, 0, 0, 0.397);
        .title{
            width: 100%;
            text-align: center;
        }
        .cont_value{
            display: flex;
            justify-content: space-between;
            .h2{
                width: 20%;
                h2{
                    margin: 1rem 0;
                    text-align: right;
                }
            }
            .input{
                width: 75%;
                display: flex;
                align-items: center;
                justify-content: center;
                input{
                    width: 90%;
                    height: 2rem;
                    margin-right: auto;
                    padding: 3px 5px;
                    border: 1px solid  gray;
                    border-radius: 5px;
                    &:checked{
                        border: 1px solid red;
                    }
                }
            }
        }
        .cont_btn{
            width: 100%;
            text-align: center;
            button{
                border: none;
                border-radius: 5px;
                background-color: blue;
                color: white;
                width: 6rem;
                height: 5vh;
                cursor: pointer;
                &:disabled{
                    background-color: rgb(175, 7, 7);
                    cursor: no-drop ;
                }
            }
        }
    }
}
@media screen and (max-width: 1050px) {
    .cont_value{
        .h2{
            h2{
                font-size: 100%;
            }
        }
    }

}
@media screen and (max-width: 500px) {
    .root{
        .container{
            width: 90%;
        }
    }
}
@media screen and (max-width: 360px) {
    .root{
        .container{
            width: 90%;
        }
    }
}